body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.page-wrap {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}


#services, #contact {
    background-color: #fff;
    margin: 20px 0;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    width: 100%;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

label {
    margin: 0.5em 0 0.2em;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff4f4;
    border-radius: 4px;
    width: 100%;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}
